/* Définition des polices personnalisées */
@import url("http://fonts.googleapis.com/css?family=Lato|Raleway&subset=latin,latin-ext");



/* Elements principaux de la page */

body
{
    font-family: 'Raleway';
    color: black;
    margin-right: 15px;
    margin-left: 15px;
}

#bloc_page
{
    width: auto;
    margin: auto;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
}

#slogan
{
    display: flex;
    flex-direction: column;
}

#logo img
{
    width: 85px;
    height: 50px;
}

#logo
{
    margin-left: 2.1%;
}

nav ul
{
    list-style: none;
    display: flex;
}

nav li
{
    margin-right: 45px;
}

nav a
{
    font-size: 1em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover 
{
    color: #1F29F5;
    
}



/*Responsive*/ 
@media all and (max-width : 992px) /*Ordi*/
{
    #bloc_page
    {
        width: auto;
        margin: auto;
    }    
}

@media all and (max-width : 768px) /*Tablette*/
{
    #bloc_page
    {
        width: auto;
        margin: auto;
    }
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
    #bloc_page
    {
        width: auto;
        margin: auto;
    }

/*Header*/
    header 
    {
        flex-direction: column;
        align-items: center;
    }

    #logo img 
    {
        width: 100%;
        height: 50%;        
    }

    nav a 
    {
        font-size: 2.7em;
    }

    div.bordure 
{
    border-bottom:1px solid black;
    margin-top: 0%;
}

/*La top phrase*/
#main_container
{
    margin: 0px 50px 60px 50px;
    padding-top: 5%;
    
}

#slogan h3 
{
    font-size: 4em;
    margin-left: 2px;
    margin: 15px 5px 5px 7px;
}

#slogan p 
{
    font-size: 2.8em;
    margin: 25px 5px 5px 7px;
}

/*Recherche par localisation*/

form
{
    margin-top: 40px;
}

form
{
    height: 45px;
}

form .icon_geo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 45px;
}

form input[type="text"] {
    color: #000;
    font-size: 34px;
    font-weight: bold;
    padding: 44px;
    font-family: 'Raleway-Bold', sans-serif;
    border: solid 1px #f2f2f2;
    outline: none;
    text-align: center;
}

form #search
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 34px;
    background-color: #0065fc;
    border: solid 1px #0065fc;
    border-radius: 0 12px 12px 0;
    padding: 44px;
    cursor: pointer;
    text-align: center;
}

/*Les filtres*/ 
div .les_filtres
{
    margin-top: 10%;
    font-size: 45px;
}

div #titre_filtres
{
    font-size: 20px;
}


}
/*Fin Responsive*/

/* Le container*/ 

#main_container
{
    margin: 0px 50px 60px 50px;
    
}

#main_container .slogan p
{
    font-size: 20px;
}

#main_container .slogan p
{
    margin: 15px auto;
    font-family: 'Raleway';
}

p
{
    display: block;
    margin-top: 15px;
}

h3
{
    display: block;
    margin-bottom: 0px;
    font-size: 26px;
    
}

/* Localisation */

form
{
    margin-bottom: 30px;
}

form
{
    display: flex;
    flex-direction: row;
    height: 45px;
}

input[type="text"] {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 75px;
    font-family: 'Raleway-Bold', sans-serif;
    border: solid 1px #f2f2f2;
    outline: none;
    text-align: center;
}



input[type="text" i] {
    padding: 1px 2px;
}

input
{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}


#search
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: #0065fc;
    border: solid 1px #0065fc;
    border-radius: 0 12px 12px 0;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    text-align: center;
}

.icon_geo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 15px;
}



.fas fa-map-marker-alt
{
    color: black;
}



#icon_geo
{
    color: transparent;
}


/* Les filtres */

ul
{
    list-style-type: none;
    
}

.liste_filtres /* aligne le texte au boutons */ 
{
    display: inline-flex; /*aligne les boutons sur la longueur */
}

.les_filtres
{
    
}

.filtres /*concerne les boutons*/
{
    border-radius: 40px 40px 40px 40px;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px 15px 10px 10px;
    border: solid 1px;
    cursor: pointer;
    height: 30px;
}

.filtres:hover
{
    background-color: #0065fc;
}

.icones_filtres
{
  color: #0065fc;
  background-color: aquamarine;
  justify-content: center;
  border-radius: 70px;
}

/*.texte_filtre
{
  font-size: 15px;
  color: black;
  font-weight: 900;
  padding-left: 5px;
}*/

.fas .fa-info
{
    border: solid 1px #0065fc;
    width: 20px;
    height: 60px;
}


/* les infos */

.infos /* aligne le texte au boutons */ 
{
  display:flex;
  align-items: center;
  padding-bottom: 20px;
}

.infos, p
{
    font-size: 15px;
    margin-left: 10px;
}

.icones_infos
{
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
    text-align: center;
    line-height: 28px;
}

.fas fa-info
{
    margin-left: 5px;
}
/* Le corps */ 

section
{
    display: flex;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 5px;
    flex: 0.7;
    background-color: hsl(0 0% 92%);
    border-radius: 15px;
    padding: 10px;
}

aside
{
    flex: 0.4;
    position: relative;
    background-color: hsl(0 0% 92%);
    border-radius: 15px;
    padding: 10px;
    display: inline-flex;
}

.icones_increase
{
  margin-left: 250px;
}

.partie_secondaire
{
    display:flex;
    justify-content:center;
}

aside, h1
{
    margin-left: 16px;
    font-family: "Raleway";
    font-style: bold;
}

/*Les hébergements à Marseille*/ 

.hebergement 
{
    background: #f2f2f2;
    border-radius: 12px 12px 12px 12px;
    margin-right: 1;
    padding: 5px 5px 5px 15px;
}

.titre_section
{
    font-size: 18px;
    font-weight: 900;
}

.hebergement_une_carte
{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5%;
}

.hebergement_image
{
    border-top-left-radius: 50px;
}
