/* Définition des polices personnalisées */
@import url("http://fonts.googleapis.com/css?family=Lato|Raleway&subset=latin,latin-ext");



/* Elements principaux de la page */

body
{
    font-family: 'Raleway';
    color: black;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fcfafa;
}

#bloc_page
{
    width: auto;
    margin: auto;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
}

#slogan
{
    display: flex;
    flex-direction: column;
}

#logo img
{
    width: 85px;
    height: 50px;
}

#logo
{
    margin-left: 2.1%;
}

nav ul
{
    list-style: none;
    display: flex;
}

nav li
{
    margin-right: 45px;
}

nav a
{
    font-size: 1em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover 
{
    color: #1F29F5;
    
}

/* Le container*/ 

#main_container
{
    margin: 0px 50px 60px 50px;
    
}

#main_container .slogan p
{
    font-size: 20px;
}

#main_container .slogan p
{
    margin: 15px auto;
    font-family: 'Raleway';
}



h3
{
    display: block;
    margin-bottom: 0px;
    font-size: 26px;
    
}

/* Localisation */

form
{
    margin-bottom: 30px;
}

form
{
    display: flex;
    flex-direction: row;
    height: 45px;
}

input[type="text"] {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 75px;
    font-family: 'Raleway-Bold', sans-serif;
    border: solid 1px #f2f2f2;
    outline: none;
    text-align: center;
}



input[type="text" i] {
    padding: 1px 2px;
}

input
{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}


#search
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: #0065fc;
    border: solid 1px #0065fc;
    border-radius: 0 12px 12px 0;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    text-align: center;
}

.icon_geo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 15px;
}



.fas fa-map-marker-alt
{
    color: black;
}



#icon_geo
{
    color: transparent;
}


/* Les filtres */

ul
{
    list-style-type: none;
    
}
.titre_filtres
{
    margin-right: 15px;
}

.les_filtres
{
   display: flex;
   align-items: center;

}

.filtres /*concerne les boutons*/
{
    display: flex;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    background-color: #ffffff;
    margin: 10px;
    border: solid 2px;
    cursor: pointer;
    height: 40px;
    border-color: #e7e7e7; 
    padding: 3px;
    width: auto;
}

.filtres:hover
{
    background-color: #DEEBFF;
}

.icones_filtres
{
  color: #0065fc;
  background-color: #DEEBFF;
  border-radius: 100%;
  margin-left: -5px;
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  align-items: center;
}


.texte_filtre
{
  font-size: 17px;
  color: black;
  font-weight: 900;
  padding-left: 6px;
  padding-right: 7px;
}




/* les infos */

.infos /* aligne le texte au boutons */ 
{
  display:flex;
  align-items: center;
  padding-bottom: 20px;
}

.infos, p
{
    font-size: 15px;
}

.icones_infos
{
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
    text-align: center;
    line-height: 28px;
}

.fas fa-info
{
    margin-left: 5px;
}
/* Le corps */ 

section
{
    display: flex;
}

aside
{
    flex: 0.8;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
}

.icones_increase
{
  margin-left: 250px;
}

.partie_secondaire
{
    display:flex;
    justify-content:center;
}

aside, h1
{
    margin-left: 16px;
    font-family: "Raleway";
    font-style: bold;
}

/*Les hébergements à Marseille*/ 

.hebergement 
{
    background: #f2f2f2;
    border-radius: 12px 12px 12px 12px;
    padding: 5px 2px 5px 15px;
    flex: 1.6;
}

.titre_section
{
    font-size: 18px;
    font-weight: 900;
}

.hebergement_all_cards
{
    display: flex;
    flex-wrap: wrap; 
}

.hebergement_une_carte
{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5%;
    text-decoration: solid;
    width: 30%;
    margin : 2% 1% 2% 2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.hebergement_une_carte:hover
{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hebergement_image
{
    width: 240px;
    height: 150px;
    padding: 2%;
}

.hebergement_photo
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 145px;
}

.hebergement_text_card
{
    margin-bottom: 15px;
    margin-left: 15px;
}

.hebergement_titre_card, h1
{
    color: black;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 4%;
    margin-left: 5%;
}

.hebergement, a
{
    text-decoration: none;
    color: black;
}

.see_more
{
    margin-left: 23px;
    font-weight: 900;
    font-size: 16px;
}

.hebergement_prix
{
    color: black;
    margin-top: 5%;
    margin-left: 5%;
}

.hebergement_note
{
    margin-left: 5%;
    margin-bottom: 10px;
    color: #0065fc;
}


.popular_card
{
    display: flex;
    background-color: #ffffff;
    background-size: 20px 50px 50px 20px ;
    margin-top: 7%;
    border-radius: 12px 12px 12px 12px;
    text-decoration: none;
    width: 100%;
}

.sectiontitle
{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 9%;
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
}

.popular_image
{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 1%;
    width: 140px;
    height: 170px;
    object-fit: cover;
}

.all_popular_cards
{
    width: 100%;
}

.popular_part_text
{
    flex-direction: column;
    margin-left: 15px;
    color: black;
}
.popular_card
{
    padding: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.popular_card:hover
{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.popular_card_title
{
    font-size: 18px;
}

.popular_score
{
    color: #0065fc;
}

.activity_all_cards
{
    background-color: #0065fc;
}

.activity_card
{
    text-decoration: none;
    color: black;
}

/*Responsive*/ 
@media all and (max-width : 992px) /*Ordi*/
{
    #bloc_page
    {
        width: auto;
        margin: auto;
    }

}

@media all and (max-width : 768px) /*Tablette*/
{
    #bloc_page
    {
        width: auto;
        margin: auto;
    }
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
    #bloc_page
    {
        width: auto;
        margin: auto;
    }

/*Header*/
    header 
    {
        flex-direction: column;
        align-items: center;
    }

    #logo img 
    {
        width: 100%;
        height: 50%;        
    }

    nav a 
    {
        font-size: 2.7em;
    }

    div.bordure 
{
    border-bottom:1px solid black;
    margin-top: 0%;
}

/*La top phrase*/
#main_container
{
    margin: 0px 50px 60px 50px;
    padding-top: 5%;
    
}

#slogan h3 
{
    font-size: 4em;
    margin-left: 2px;
    margin: 15px 5px 5px 7px;
}

#slogan p 
{
    font-size: 2.8em;
    margin: 25px 5px 5px 7px;
}

/*Recherche par localisation*/

form
{
    margin-top: 40px;
}

form
{
    height: 45px;
}

form .icon_geo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 45px;
}

form input[type="text"] {
    color: #000;
    font-size: 34px;
    font-weight: bold;
    padding: 44px;
    font-family: 'Raleway-Bold', sans-serif;
    border: solid 1px #f2f2f2;
    outline: none;
    text-align: center;
}

form #search
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 34px;
    background-color: #0065fc;
    border: solid 1px #0065fc;
    border-radius: 0 12px 12px 0;
    padding: 44px;
    cursor: pointer;
    text-align: center;
}

/*Les filtres*/ 
.les_filtres
{
    margin-top: 10%;
    font-size: 45px;
}

.titre_filtres
{
    font-size: 20px;
}

/* principal */



}
/*Fin Responsive*/