/* Définition des polices personnalisées */
@import url("http://fonts.googleapis.com/css?family=Lato|Raleway&subset=latin,latin-ext");

 /* Elements principaux de la page */

body
{
    font-family: 'Raleway';
    color: black;
    margin: auto;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
}

#slogan
{
    display: flex;
    flex-direction: column;
}

#logo img
{
    width: 85px;
    height: 50px;
}

#logo
{
    margin-left: 5%;
}

nav ul
{
    list-style: none;
    display: flex;
}

nav li
{
    margin-right: 45px;
}

nav a
{
    font-size: 0.9em;
    color: grey;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover 
{
    color: #1F29F5;
    border-top: 3px solid #1F29F5;
}

/* Le container*/ 

#main_container
{
    margin: 0px 50px 60px 50px;
    margin-top: 25px;
}

#main_container .slogan p
{
    font-size: 16px;
}

#main_container .slogan p
{
    margin: 15px auto;
    font-family: 'Raleway';
}

p
{
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 10px;
    font-size: 18px;
}

h3
{
    display: block;
    margin-bottom: 0px;
    font-size: 22px;
}

/* Localisation */

form
{
    margin-bottom: 30px;
}

form
{
    display: flex;
    flex-direction: row;
    height: 45px;
}

input[type="text"] {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 75px;
    font-family: 'Raleway-Bold', sans-serif;
    border: solid 1px #f2f2f2;
    outline: none;
    text-align: center;
}



input[type="text" i] {
    padding: 1px 2px;
}

input
{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
}


#search
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: #0065fc;
    border: solid 1px #0065fc;
    border-radius: 0 12px 12px 0;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    text-align: center;
}

.icon_geo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
    padding: 15px;
}



.fas fa-map-marker-alt
{
    color: black;
}



#icon_geo
{
    color: transparent;
}


/* Les filtres */

ul
{
    list-style-type: none;
    
}

.liste_filtres /* aligne le texte au boutons */ 
{
    display: inline-flex; /*aligne les boutons sur la longueur */
}

.les_filtres
{
}

.filtres /*concerne les boutons*/
{
    border-radius: 40px 40px 40px 40px;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px 15px 10px 10px;
    border: solid 1px;
    cursor: pointer;
}

.filtres:hover
{
    background-color: #0065fc;
}

.icones_filtres
{
  color: #0065fc;
  display: inline-block;
  justify-content: center;
  border-radius: 40px 40px 40px 40px;
  width: 20px;
  
  
}

.texte_filtre
{
  font-size: 15px;
  color: black;
}

/* les infos */

.infos /* aligne le texte au boutons */ 
{
  display:flex;
  align-items: baseline;
  justify-content: baseline;
  font-size: 12px;
}

.infos, p
{
    font-size: 15px;
}

.icones_infos
{
    border-radius: 50%;
    color: #0065fc;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px 15px 10px 10px;
    border: solid 1px;
    cursor: pointer;
}

/* Le corps */ 

section
{
    display: flex;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 5px;
    flex: 0.7;
    background-color: hsl(0 0% 92%);
    border-radius: 15px;
    padding: 10px;
}

aside
{
    flex: 0.4;
    position: relative;
    background-color: hsl(0 0% 92%);
    border-radius: 15px;
    padding: 10px;
    display: inline-flex;
}

.icones_increase
{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left: 250px;
}

aside, h1
{
    margin-left: 16px;
    font-family: "Raleway";
    font-style: bold;
}